<p>
    <mat-toolbar color="primary" fxLayoutAlign="center center">
        <div>
            Lucas Andrade
        </div>
        <div>
            <button mat-icon-button (click)="openLink('https://github.com/andrade-lucas-mo')">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </button>
            <button mat-icon-button (click)="openLink('https://www.linkedin.com/in/lucas-andrade-mo/')">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </button>
        </div>
    </mat-toolbar>
</p>